[Unit]
Description=notionBot - Telegram bot
After=network.target

[Service]
ExecStart=/usr/bin/node index.js
ExecReload=/usr/bin/node index.js
WorkingDirectory=/opt/TelegramNotionBot
KillMode=process
Restart=always
RestartSec=5
Environment=NODE_OPTIONS=--unhandled-rejections=strict
Environment=BOT_TOKEN=5262139480:AAG9uWSPw47fX0bSf7RYNDXqFKOt7NPbxdU
Environment=NOTION_CLIENT_ID=1ea8493d-3ff0-4a50-9278-35c5bba44c83
Environment=NOTION_CLIENT_SECRET=secret_U9tRsXSE8PnfXoVoIGJn9knrBo72BKkNcdIXOO8E4L9

[Install]
WantedBy=multi-user.target
