<form action="/create-note" method="POST">
  <div>
    <label for="note_title">Note title</label>
    <input type="text" name="note_title" id="note_title" />
  </div>
  <div>
    <label for="note_body">Note body</label>
    <textarea type="text" name="note_body" id="note_body"></textarea>
  </div>
  <div>
      <input type="submit" value="Create note!">
  </div>
</form>